<ion-view title="Login">

    <ion-content ng-init="required=true">
        <form ng-submit="login(salesman)" name="form" novalidate>
            <label class="item item-input">
                <input type="text" placeholder="I.D" ng-model="salesman.id" ng-required="required">
            </label>

            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="salesman.password" ng-required="required">
            </label>

            <button type="submit" ng-disabled="form.$invalid" class="button button-block button-energized">Login</button>
        </form>

    </ion-content>

</ion-view>