<div class="bar bar-header bar-positive">
    <h1 class="title">Login</h1>
</div>

<br>
<br>
<br>
<br>
<br>

<div class="list">
    <form>
        <label class="item item-input">
            <input type="text" placeholder="I.D" ng-model="salesman.name" required>
        </label>

        <label class="item item-input">
            <input type="text" placeholder="Password" ng-model="salesman.password" required>
        </label>

        <button type="submit" ng-click="login()" class="button button-block button-energized">Login</button>
    </form>
</div>