<ion-view title="Take Order">

    <ion-content>

        <form name="form" ng-submit="takeOrder(product)" ng-init="required=true">
            <label class="item item-input item-select">
                <div class="input-label">
                    Select Product
                </div>
                <select ng-model="product.name" ng-required="required">
                    <option></option>
                    <option ng-repeat="product in products track by $index">{{product.name}}</option>
                </select>
            </label>


            <label class="item item-input">
                <span class="input-label">Quantity</span>
                <input style="margin-left:100px; padding: 0 70px" ng-model="product.quantity" type="number" ng-required="required">
            </label>

            <button type="submit" ng-disabled="form.$invalid" class="button button-block button-energized">Login</button>
        </form>
    </ion-content>

</ion-view>