<table style="width:100%;" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Product Name</th>
            <th>Quantity</th>
            <th>Sent by</th>
            <th>Recieved on</th>
            <th>View Location</th>
            <th>Send Delievry</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="order in orders track by $index">
            <td class="mdl-data-table__cell--non-numeric">{{order.name}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.sentBy}}</td>
            <td>{{order.recievedOn | date:"dd/MM/yyyy 'at' h:mma"}}</td>
            <td>
                <md-button class="md-icon-button" aria-label="view location">
                    <ng-md-icon icon="location_on" style="fill: #3F51B5"></ng-md-icon>
                </md-button>
            </td>

            <td>
                <md-button class="md-icon-button" aria-label="send delivery" ng-click="sendDelivery($index)">
                    <ng-md-icon icon="done" style="fill: #3F51B5"></ng-md-icon>
                </md-button>
            </td>
        </tr>
    </tbody>
</table>