<div ng-hide="ifCompany" layout="column" layout-padding layout-wrap layout-fill ng-cloak layout-align="center center">
    <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25">
        <md-subheader class="md-no-sticky">You have no company yet, Click on Add button to create one.</md-subheader>
        <md-divider></md-divider>
        <div style="text-align:center;">
            <md-button class="md-raised md-primary" ng-href="#/newCompany">Add</md-button>
        </div>
    </md-whiteframe>
</div>

<div ng-show="ifCompany" style="width:50%; margin:0 auto" layout="column" layout-padding layout-wrap layout-fill ng-cloak>
    <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25">
        <div>
            <md-list ng-cloak>
                <md-subheader class="md-no-sticky">Your Company Details.</md-subheader>
                <md-divider></md-divider>

                <md-list-item class="secondary-button-padding md-3-line">
                    <img ng-src="" class="md-avatar" alt="" />
                    <div class="md-list-item-text" layout="column">
                        <h3>{{company.companyName}}</h3>
                        <h4>{{company.products}}</h4>
                        <p>{{company.address}}</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>

        </div>
    </md-whiteframe>
</div>

<div ng-show="ifCompany" layout="column" style="width:100%; margin:0 auto" layout-padding layout-wrap layout-fill ng-cloak>
    <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25">
        <div>
            <md-list ng-cloak>
                <div layout="row">                
                <md-subheader class="md-no-sticky">Your Salesmen</md-subheader>
                <md-progress-circular md-mode="indeterminate" ng-show="progress2"></md-progress-circular>
                </div>
                <md-divider></md-divider>

                <md-list-item class="md-2-line" ng-repeat="salesmen in allSalesmen">
                    <img ng-src="" class="md-avatar" alt="" />
                    <div class="md-list-item-text">
                        <h3>{{salesmen.name}}</h3>
                        <p>{{salesmen.region}}</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>

        </div>
    </md-whiteframe>
</div>


<md-button ng-show="ifCompany" style="position:fixed; bottom: 5;" class="md-primary md-fab md-fab-bottom-right" ng-click="showAdvanced($event)">
    Add
</md-button>

